
/* ----- SIDEBAR STYLE ----- */
.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar ul li {
    background-color: transparent !important;
}
  
.sidebar a {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    display: block;
    transition: 0.3s;
}
  
.sidebar a:hover {
    color: #f1f1f1;
}
  
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
  
#main {
    transition: margin-left .5s;
    padding: 16px;
    margin-left: 250px;
}
/* ----- END SIDEBAR STYLE ----- */

/* ----- FOOTER STYLE ----- */
#siteFooter {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}
/* ----- END FOOTER STYLE ----- */

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}